<div class="sr-toolshed-bar">

  <!-- SIDEBAR BUTTONS -->
  <button class="sr-toolshed-bar-button col-12">
    <fa [name]="'home'" [size]=1></fa>
    Newsfeed </button>

  <button class="sr-toolshed-bar-button col-12">
    <fa [name]="'comment'" [size]=1></fa>
    Messages </button>

  <button class="sr-toolshed-bar-button col-12">
    <fa [name]="'plus'" [size]=1></fa>
    Create </button>


  <!-- TOOLS BUTTONS -->
  <h3 class="sr-toolshed-bar-title">Tools</h3>

  <button class="sr-toolshed-bar-button col-12">
    <fa [name]="'folder'" [size]=1></fa>
    Project manager </button>

  <button class="sr-toolshed-bar-button col-12">
    <fa [name]="'cog'" [size]=1></fa>
    data analysis </button>


</div>
